@{
    ViewData["Title"] = "About";
    ViewData["TitlePage"] = "Sobre Nós";
}
<h3>@ViewData["Message"]</h3>

<div class="col-md-4">
    <p>
        Esta aplicação foi criada para facilitar a interação entre
        os usuários do sistema SIG-TI e o time de desenvolvimento
        no intuito de agilizar o processo de acerto de erros e manutenções
        para melhor atendimento e usabilidade dos usuários
    </p>
</div>