@model IEnumerable<GESTRF.Models.Usuario>
@{
    ViewData["Title"] = "About";
    ViewData["TitlePage"] = "Sobre Nós";
}
<h4>@ViewData["Message"]</h4>
<!-- Default box -->
<div class="card-body pb-0">
    <div class="row">
        @{  string? base64img = string.Empty;
            foreach (var item in Model)
            {
                if (item.Image != null)
                {

                    base64img = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Image));

                }
                else
                {
                    base64img = string.Format(@"../../dist/img/user.jpg");
                }
                if (item.Perfil == "Admin")
                {
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                        <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                                System Developer
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@Html.DisplayFor(modelItem => item.Nome)</b></h2>
                                        <p class="text-muted text-sm"><b>About: </b> Developer C# / UX / Coffee Lover </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone: (37)3249-1900</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="@base64img" alt="user-avatar" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
