@{
    ViewData["Title"] = "Home Page";
    ViewData["TitlePage"] = "Seja Bem Vindo ao Help Desk | SigData";
}
<div class="row">
    <div class="col-md-4">
        <p>
            Help Desk é uma aplicação exemplo que
            demonstra como usar o Entity Framework Core em uma
            aplicação ASP.NET Core MVC web application com integração do template Admin LTE.
        </p>
    </div>
</div>